@font-face {
	font-family: 'bauhaus93';
	src: url('../../fonts/BAUHS93.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'xirod';
	src: url('../../fonts/AA-Xirod.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.logo {
	 margin: auto;
	 width: 50%;
	 padding: 10px;
	 font-family: 'bauhaus93';
}	 

.shape {
	position: relative;
    width: 130px;
    height: 130px;
    border-radius: 130px;
    background-color: #ff0000; 
}

.logo-text1 {
	position: absolute;
	font-size: 88px;
	margin-top: -130px;
	margin-left: 60px;
}


.logo-text2 {
	position: absolute;
	font-size: 33px;
	margin-top: -40px;
	margin-left: 268px;
}

.flex-container {
	font-family: 'xirod';
	font-size: 12px;
	line-height: 1.2;
	text-align: center;
    margin-top: 100px;
}
.row {
	display: flex;
	direction: row;
	justify-content: space-around;
	margin-right: 300px;
	margin-left: 220px;
	margin-top: 20px;
		img {
			width: 100px;
			height: auto;
		}
		.too-large {
			font-size: 10.5px;
		}
}

.contact-info {
	font-family: 'bauhaus93';
	padding-left: 10px;
	margin-right: 100px;
	margin-top: 50px;
	
	div {
		display: flex;
		justify-content: flex-end;
	}
}


